.mainBody {
	padding: 20px 20px 0 20px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #f0f0f0;
	font-family: 'Fira Sans', sans-serif;
}

.mainBody h1 {
	font-size: 60px;
}

.mainBody h1, .mainBody h3 {
	font-weight: bold;
	color: white;
}

.sectionBlue {
	height: fit-content;
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: #00b7ec;
}

.sectionGreen {
	margin: 10px 0 10px;
	height: fit-content;
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: #7fbb42;
}
