.mainBody {
	padding: 20px 20px 0 20px;
	min-height: 100vh;
	color: white;
	background-color: #0F0F25;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Fira Sans', sans-serif;
}

.mainBody h1 {
	font-size: 5vw;
}

.mainBody h3 {
	font-size: 1.6vw;
	color: #bb55c3 !important;
}

.mainBody h4 {
	font-size: 0.9vw;
	color: lightgrey
}

.mainBody h1.homePageHeader, .mainBody h3.homePageHeader {
	font-weight: bold;
	color: white;
    text-align: left;
}

.mainBody h1 {
	color: black;
	text-align: center;
	font-weight: bold;
}

.mainBody h1.pageHeader {
	font-size: 30pt;
	color: white;
	text-align: center;
	font-weight: bold;
	border-bottom-color: white;
}

.section {
	height: fit-content;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: left;
	align-items: center;
	vertical-align: center;
	margin-bottom: 20px; 
}

.section .home-page-image {
	width: 50vw;
}

.mainBody hr {
	border: 2px solid #1F1F25;
	opacity: 100%;
	margin: 0 0 20px;
	width: 90vw;
}

.clickableImageContainer{
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

.clickableImageContainer .clickableImage {
	width: 626px;
	height: 626px;
	transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.clickableImageContainer .clickableImage:hover {
	transform: scale(1.2);
	filter: brightness(70%);
}

.img {
	float: left;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.clickableImageContainer {
	position: relative;
	overflow: hidden;
}

.clickableImage {
	width: 100%;
	height: auto;
	display: block;
}

.hoverText {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #00b7ec; /* Set your desired text color */
	font-size: 30pt; /* Set your desired font size */
	font-weight: bold;
	text-align: top;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: center;
}

.clickableImageContainer:hover .hoverText{
	opacity: 1;
}

/*MOBILE VERSION*/
@media (max-width: 680px) {
    .section {
        flex-direction: column; /* Change to a column layout on smaller screens */
    }

	.mainBody .section .home-page-image {
		width: 90vw;
	}

	.mainBody h1 {
		font-size: 10vw;
	}
	
	.mainBody h3 {
		font-size: 3.2vw;
		color: #bb55c3 !important;
	}
	
	.mainBody h4 {
		font-size: 1.8vw;
		color: lightgrey
	}
	
	.mainBody h1.homePageHeader, .mainBody h3.homePageHeader {
		font-weight: bold;
		color: white;
		text-align: left;
	}
	
	.mainBody h1 {
		color: black;
		text-align: center;
		font-weight: bold;
	}
	
	.mainBody h1.pageHeader {
		font-size: 30pt;
		color: white;
		text-align: center;
		font-weight: bold;
		border-bottom-color: white;
	}
}