.background {
	background-color: #f0f0f0;
	padding: 20px;
}

.mainBody {
	padding: 20px 20px 0 20px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #f0f0f0;
	font-family: 'Fira Sans', sans-serif;
}

.mainBody h1 {
	font-size: 60px;
}

.mainBody h1.homePageHeader, .mainBody h3.homePageHeader {
	font-weight: bold;
	color: white;
    text-align: left;
}

.mainBody h1 {
	color: black;
	text-align: center;
	font-weight: bold;
}

.mainBody h1.pageHeader {
	font-size: 30pt;
	color: black;
	text-align: center;
	font-weight: bold;
}

.sectionBlue {
	height: fit-content;
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: #00b7ec;
	margin-bottom: 20px; 
}

.sectionBlue {
	justify-content: space-evenly;
	text-align: left;
}

.mainBody hr {
	border: 5px solid #7fbb42;
	opacity: 100%;
	margin: 0 0 20px;
}

.sectionBlue li {
	text-align: left;
}

.clickableImageContainer{
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

.clickableImageContainer .clickableImage {
	width: 626px;
	height: 626px;
	transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.clickableImageContainer .clickableImage:hover {
	transform: scale(1.2);
	filter: brightness(70%);
}

.img {
	float: left;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.clickableImageContainer {
	position: relative;
	overflow: hidden;
}

.clickableImage {
	width: 100%;
	height: auto;
	display: block;
}

.hoverText {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #00b7ec; /* Set your desired text color */
	font-size: 30pt; /* Set your desired font size */
	font-weight: bold;
	text-align: top;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: center;
}

.clickableImageContainer:hover .hoverText{
	opacity: 1;
}