.mainBody {
	padding: 20px;
	min-height: 100vh;
	color: white;
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Fira Sans', sans-serif;
}

.mainBody h1.pageHeader {
	font-size: 30pt;
	color: black;
	text-align: center;
}