.cardBody {
    background-color: white;
    height: 300px;
    width: 400px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    padding: 50px 0 0 25px;
    border-radius: 10px;
}

.cardBody h1, .cardBody p {
    color: white !important;
    font-weight: 200 !important;
    text-align: left !important;
    padding-right: 10px;
}

.cardBody h1 {
    padding-bottom: 50px;
    font-size: 30pt;
}