.formContainer {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    width: 50vw;
    border: 0;
    border-bottom: 1px solid grey;
    width: 20vw;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

textarea {
    border: 0;
    border-left: 1px solid grey;
    padding: 5px;
    height: 100%;
}

textarea:focus {
    border: 1px solid grey;
    outline: none;
}

.button {
    border: 1px solid white;
    background-color: #0F0F25;
    width: 10.417vw;
    border-radius: 10px;
    color: white;
    height: 3vw;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1vw;
    align-self: center;
    margin: 10px 0 10px;
}

@media (max-width: 705px) {
    .formContainer {
        flex-direction: column;
        width: 80vw;
    }

    .inputs input {
        width: 100%;
    }

    textarea {
        width: 100%;
        border: 1px solid grey;
    }

    .button {
        width: 20vw;
        height: 5vh;
        font-size: 16px;
    }

    .emailMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}