.footer {
	margin-top: auto !important;
	text-align: center;
	padding: 30px 0;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	flex-direction: column;
	color: #fff;
    background-color: #15191b;
    margin: 0;
	width: 100%;
}

.footer p {
	font-size: 16px;
}

.spinning-image-container {
	width: fit-content;
	height: fit-content;
	margin: auto;
}

.footer img.spinning-image {
	width: 50px;
}