.footer {
	margin-top: auto;
	text-align: center;
	padding: 30px 0;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	flex-direction: column;
	color: #fff;
    background-color: #1F1F25;
    margin: 0;
}

.footer p {
	font-size: 1.042vw;
}

.spinning-image-container {
	width: fit-content;
	height: fit-content;
	margin: auto;
}

.footer img.spinning-image {
	width: 2.604vw;
}