.card {
    width: fit-content;
    border: 0 !important;
    --bs-card-bg: none !important;
}

.card img {
    width: 15vw;
    height: 15vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.card-body {
    margin: 30px 0 30px;
    background-color: #1F1F25;
    height: fit-content;
    border-radius: 10px;
}

.card-title {
    color: white !important;
    text-align: center;
    margin: 0 !important;
    font-size: 1.042vw;
}

/*MOBILE VERSION*/
@media (max-width: 705px) {
    .card img {
        width: 40vw;
        height: 40vw;
    }

    .card-title {
        font-size: 3vw;
    }
}