.navbar {
    background: #15191b;
    opacity: 100%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed !important;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.navbar .logo {
    font-size: 30px;
    text-transform: uppercase;
}

.navbar .nav-icons {
    margin-left: 30px;
    display: flex;
}

.navbar .nav-icon-container {
    margin-right: 30px;
}

.navbar .nav-icons .nav-icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
}

.navbar .nav-icons .nav-icon:hover {
    color: orange;
}

.navbar nav {
    background-color: #15191b;
}
.navbar nav ul {
    vertical-align: middle;
    margin: 0 20px;
    display: flex;
    list-style-type: none;
}
.navbar nav ul li a {
    display: inline-block;
    font-weight: 450;
    color: white;
    padding: 5px 0;
    margin: 0 30px;
    border: 3px solid transparent;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar nav ul li a.active {
    color: white
}
.navbar nav ul li a:hover,
.navbar nav ul li a.active {
    color: orange;
    border-bottom-color: orange;
}
.navbar nav ul li a.active:hover {
    color: #414141;
    border-bottom-color: #414141;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger:hover div {
    background-color: #414141;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 20px;
    background: white;
}
@media only screen and (max-width: 900px) {
    .navbar {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 705px) {
    .hamburger {
        display: block;
    }
    .navbar nav {
        position: absolute;
        width: 50%;
        top: 70px;
        right: 0;
        visibility: hidden;
        background: #1F1F25;
        padding: 30px;
        z-index: 1;
    }
    .hamburger div {
        background-color: white;
    }
    .navbar #nav_check:checked ~ nav {
        visibility: visible;
    }
    .navbar #nav_check:not(:checked) ~ .hamburger div {
        background-color: white;
    }
    .navbar #nav_check:checked ~ .hamburger div {
        background-color: orange;
    }
    .navbar nav ul {
        display: block;
        padding-left: 0;
        margin-left: 0;

    }
    .navbar nav ul li a {
        margin: 5px 0;
    }
}