.subnavbar-container {
    background-color: #24292e;
    padding-top: 70px;
}

.sub-navbar {
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.sub-navlist {
    position: fixed !important;
    list-style-type: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    background-color: #2d2d31;
    height: 50px;
    padding: 0;
    transition: 0.2s ease-in-out;
}

.sub-navlist li a{
    margin: 0 25px;
    text-decoration: none;
    color: #414141;
    font-weight: 500;
    border: 3px solid transparent;
}

.sub-navlist li a:hover {
    color: white;
    border-bottom-color: white;
}

.sub-navlist li a.active {
    color: white;
    border-bottom-color: white;
}

.sub-navlist li a.active:hover {
    color: #414141;
    border-bottom-color: #414141;
}